@font-face{
	font-family: baloo-bhaijaan;
	src: url("/home/sachin/web_assignment/fonts/Baloo_Bhaijaan_2/BalooBhaijaan2-VariableFont_wght.ttf");
}

h1{
	text-align: center;/BalooBhaijaan2-VariableFont_wght.ttf
	background-color: darkred;
	font-family: baloo-bhaijaan;

}

div{
	margin-top: 40px;
}

img {
	display: block;
	background-color: #00e3a4;
	margin: auto;
	width: 50%;
	height: 700px;

}
figcaption{
	font-size: 20px;
	margin-top: 20px;
	text-align: center;


}
